<div id="header">
    <div id="masthead">
        <div id="branding" role="banner">
            <h1 id="site-title">
					<span>
						<a href="#" title="test" rel="home">Unippear Demo</a>
					</span>
				</h1>
            <div id="site-description">Just another WordPress site</div>

            <img src="<%=unippearHost%>/img/path.jpg" width="940" height="198" alt="" />
        </div>
        <!-- #branding -->

        <div id="access" role="navigation">
            <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a>
            </div>
            <div class="menu">
                <ul>
                    <li class="current_page_item"><a href="#" title="Home">Home</a>
                    </li>
                    <li class="page_item page-item-2"><a href="#?page_id=2">Sample Page</a>
                        <ul class='children'>
                            <li class="page_item page-item-4"><a href="#?page_id=4">Sub page 1</a>
                            </li>
                            <li class="page_item page-item-7"><a href="#?page_id=7">Sub page 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- #access -->
    </div>
    <!-- #masthead -->
</div>
<!-- #header -->